.header {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 15px;
}

.date_container {
  margin-top: 25px;
}

.date_container h2 {
  text-transform: uppercase;
  font-size: 18px;
}

.date_container_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date_container_group_item {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
}

.date_container_group_item_input {
  margin-top: 20px;
  padding: 9px;
  width: inherit;
  border: 0;
  border-bottom: 0.6px solid black;
  text-align: center;
  font-size: 18px;
}

.date_container_group_item_input:active,
.date_container_group_item_input:focus,
.date_container_group_item_input:focus-visible {
  outline: 0;
  color: #017371;
  border-bottom: 2px solid #017371;
}
