.header {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
}

.meal_date_container {
  margin-top: 25px;
}

.meal_details_container {
  flex: 1;
  margin-top: 30px;
}

.meal_details_container_flex {
  display: flex;
  gap: 20px;
}

.meal_date_container h2,
.meal_details_container h2 {
  text-transform: uppercase;
  font-size: 18px;
}

.meal_date_container_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.meal_date_container_group_item {
  width: 115px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
}

.meal_date_container_group_item p,
.meal_details_container_group_item p {
  color: #929cad;
}
.meal_details_container_group_item p {
  margin-bottom: 10px;
}

.meal_date_container_group_item_input {
  padding: 0;
  width: 100%;
  border: 0;
  text-align: center;
  font-size: 16px;
  outline: 0;
}

.meal_details_container_group_item select {
  appearance: none;
  background-image: url("/images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 15px;
  border: none;
  padding: 8px 0;
}

.meal_date_container_group_item_input:active,
.meal_date_container_group_item_input:focus,
.meal_date_container_group_item_input:focus-visible,
.meal_details_container_group_item_input:active,
.meal_details_container_group_item_input:focus,
.meal_details_container_group_item_input:focus-visible {
  outline: 0;
}

.meal_details_container_group {
  margin-top: 15px;
}

.meal_details_container_group_item {
  margin-top: 20px;
  width: 100%;
}

.meal_details_container_group_item_input {
  width: 100%;
  padding: 10px 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  height: 38px;
  border-radius: 13px;
  outline: 0;
}

.meal_details_container_group_item_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clearImage {
  padding: 10px;
  border: 0;
  border-radius: 5px;
}

.mealButtonDiv {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.button_container {
  margin-top: 40px;
}

.add_meal_button,
.add_meal_button.cancel,
.add_meal_button.edit_meal_button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  width: 100%;
  padding: 13px;
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border-radius: 40px;
  background-color: #26a69a;
}

.add_meal_button.cancel {
  width: calc(100% / 3.3);
  color: #e30000;
  background-color: unset;
  border: 0;
}

.add_meal_button.edit_meal_button {
  width: calc(100% / 1.3);
}
