* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Inter";
}

a {
  color: inherit;
  text-decoration: none;
}
