.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header button {
  border: 0;
  background: none;
}

.week_days_grid,
.current_date {
  margin-top: 25px;
}

.loading {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.week_days_grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(7, 60px);
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.week_days_grid::-webkit-scrollbar {
  display: none;
}

.week_day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7px 0;
  height: 60px;
  font-weight: 500;
  font-size: 14px;
  color: #0009;
}

.week_day.active {
  color: #017371;
  font-weight: 600;
  border-bottom: 2px solid #017371;
}

.current_date {
  margin-top: 25px;
  font-weight: 600;
  font-size: 18px;
}

.empty_meal_list,
.empty_meal_list button {
  text-align: center;
}

.empty_meal_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 45px 0 10px 0;
  font-size: 16px;
  font-weight: 500;
}

.empty_meal_list button {
  border: 0;
  padding: 15px;
  background-color: #017371;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  margin: 30px 0 0 0;
}

.meal_list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 45px 0 10px 0;
}

.meals {
  list-style: none;
}

.meal_type {
  font-weight: bold;
  font-size: 18px;
  color: #929cad;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.meals .meal_details:not(:last-child) {
  margin-bottom: 25px;
}

.meal_details {
  display: flex;
  align-items: center;
}

.meal_image {
  height: auto;
  width: 88px;
  background-size: cover;
  border-radius: 5px;
}

.meal_description {
  margin: 0 15px;
  flex: 1;
}

.meal_name {
  font-weight: inherit;
  font-size: 14px;
  margin-bottom: 0px;
}

.meal_calories {
  font-size: 12px;
  color: #929cad;
}

.edit_meal_button {
  border: 0;
  background: none;
}
