.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header button {
  border: 0;
  background: none;
}

.week_days_grid {
  margin: 20px 0 20px 0;
}

.loading {
  position: absolute;
  left: 0;
  height: calc(100% - 62%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.week_days_grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(7, 60px);
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.week_days_grid::-webkit-scrollbar {
  display: none;
}

.week_day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 7px 0;
  font-weight: 500;
  font-size: 14px;
  height: 45px;
  color: #0009;
}

.week_day.active {
  color: #26a69a;
  font-weight: 600;
  border-bottom: 2px solid #26a69a;
}

.current_date {
  font-weight: 600;
  font-size: 18px;
}

.empty_meal_list,
.empty_meal_list button {
  text-align: center;
}

.empty_meal_list {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  line-height: 22px;
  margin-top: 60px;
  min-height: 400px;
}

.empty_meal_list_add {
  font-weight: 600;
  margin-top: 60px;
  color: #fff;
  background-color: #26a69a;
  padding: 1.125rem 2.15rem;
  border-radius: 40px;
}

.meal_list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 45px 0 10px 0;
}

.meals {
  list-style: none;
}

.meal_type {
  font-weight: bold;
  font-size: 18px;
  color: #929cad;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.meals .meal_details:not(:last-child) {
  margin-bottom: 25px;
}

.meal_image {
  height: auto;
  width: 88px;
  background-size: cover;
  border-radius: 5px;
}

.meal_description {
  flex: 1;
  margin: 0 12px;
}

.meal_name {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 0px;
}

.meal_calories {
  font-size: 12px;
  color: #929cad;
}

.edit_meal_button {
  border: 0;
  background: none;
}

.swipe_element {
  display: flex;
  align-items: center;
  justify-content: center !important;
  flex-direction: column;
  font-size: 14px;
  padding: 3px;
  border-radius: 5px;
  background-color: #fff;
}

.swipe_element svg {
  margin-bottom: 5px;
}

.swipe_element.edit {
  color: #26a69a;
}

.swipe_element.delete {
  color: #e30000;
}
